// All the pages specific codes goes here.

.main-wrapper {
  max-width: 1800px;
  margin: 0 auto;
}

.toggle-btn{
   @media screen and (max-width: 767px) {
      display: none;
    }
}

.main-logo{
  height: 40px;
  display: flex;
  align-items: center;
     @media screen and (max-width: 767px) {
      justify-content: center;
    }
}