/* Major Colors Variables */
$color-primary: #F7F5F5 !default;
$color-secondary: #636262 !default;

// Color White Variables
$color-white: #ffffff !default;

// Color Black Variables
$color-black: #000 !default;
$color-black-10: #202020 !default;
$color-black-20: #212121 !default;

// Color Gray Variables
$color-gray: #D9D8D8 !default;
$color-gray-10: #9E9E9E !default;
$color-gray-20: #666666 !default;
$color-gray-30: #3A5754 !default;
$color-gray-40: #999998 !default;

// Color Green Variables
$color-green: #296660 !default;
$color-green-10: #0A332F !default;
$color-green-20: #2E7D76 !default;
$color-green-30: #E5FBF8 !default;

// Color Orange Variables
$color-orange: #FC5E64 !default;

// RGBA Color Variables
$rgba-green-10:rgba(17, 94, 89, 1) !default;




